<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Blog</title>
    <!-- FontAwesome version 5 -->
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <!-- Bootstrap CSS version 5 -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                <div class="dropdown">
                    <li class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="../static/images/mdo.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                    </li>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link btn btn-login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-singup ms-3">Sign up &rarr;</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="main">
        
        {% block content %}
        {% endblock content %}
            
    </div>
    <footer class="footer">
        <span>@2021 copy right</span>
    </footer>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>