{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load crispy_forms_tags %}
{% load blog_templatetags %}
{% block head_title %}{{ object.description|slice:'20' }}{% endblock head_title %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card card-body mt-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <img src="{{ object.user.profile.image.url }}" alt="mdo" width="32" height="32"
                            class="rounded-circle me-2"> |
                        <span class="ms-2 me-2"
                            id="conveying-meaning-to-assistive-technologies">{{ object.user }}</span> |
                        <span class="ms-2">{{ object.created_at| date }}</span>
                    </div>
                    <div>
                        <a href="{% url 'favorite:add_favorite_post_view' object.slug %}">
                            <i class="far fa-bookmark"></i>
                        </a>
                    </div>
                </div>
                <hr>
                <p id="post-body">
                    {{ object.description }}
                </p>
                <div class="d-flex justify-content-between">
                    <div class="comment-like-dislike">
                        <span><i class="far fa-comment-alt"></i> {{ object.total_comment }}</span>
                        <span><i class="far fa-heart"></i> {{ object.total_likes }}</span>
                        <span><i class="far fa-thumbs-down"></i> {{ object.total_dislikes }}</span>
                        <span><i class="far fa-eye"></i> {{ object.views }}</span>
                    </div>
                    <div class="comment-like-dislike">
                        
                        {% for h_tag in object.hashtags.all %}
                            <a href="{% url 'blog:hashtag_list_posts' h_tag.slug %}" class="me-2 tag-badge">#{{ h_tag.name }}</a>
                        {% endfor %}
                            
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row align-items-center">
                    <div class="btn-group">
                        <form action="{% url 'blog:post_like' object.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="justify-content-start me-3 btn btn-primary">Like</button>
                        </form>
                        <form action="{% url 'blog:post_dislike' object.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="justify-content-start me-3 btn btn-primary">disLike</button>
                        </form>
                    </div>
                </div>
                <form id="myForm" class="mt-3" action="{% url 'comment:add_comment_view' slug=object.slug %}"
                    method="POST">
                    {% csrf_token %}
                    <div class="mb-2">
                        <textarea class="form-control" name="content" rows="3" placeholder="Comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
                <div class="row">
                    <div class="col-xl-12">

                        {% recursetree object.comments.all %}
                        <div id="{{ node.id }}" class="bd-comment bd-comment-info">
                            <div class="d-flex align-items-center">
                                <img src="{{ node.user.profile.image.url }}" alt="mdo" width="32" height="32"
                                    class="rounded-circle me-2"> |
                                <span class="ms-2"
                                    id="conveying-meaning-to-assistive-technologies">{{ node.user.username }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mt-1">
                                    {{ node.content}}
                                </p>
                                {% if node.level < 10 %}
                                <button class="btn" onclick="myFunction({{ node.id }})"><i
                                        class="fas fa-reply"></i></button>
                                {% endif %}
                            </div>
                        </div>
                        {% if not node.is_leaf_node %}
                        <div class="children ms-4 pl-md-5">
                            {{ children }}
                        </div>
                        {% endif %}
                        {% endrecursetree %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mt-5">
                <!-- current User Profile -->

                {% if user.is_authenticated %}
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="{{ user.profile.image.url }}" alt="mdo" width="80" height="80"
                            class="rounded-circle me-2">
                        <h4>{{ user.username }}</h4>
                        <p class="text-center">
                            {{ user.profile.short_description }}
                        </p>
                    </div>
                </div>
                {% endif %}
                <!-- Recent Post -->
                <div class="card mt-3">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Recent Post</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% recent_post_lists as recent_post_list %}
                                {% for recent_post in recent_post_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'blog:single_post_view' recent_post.slug %}">{{ recent_post.description|slice:'50' }}</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Popular post -->
                <div class="card mt-3">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Popular Post</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Lorem ipsum dolor sit amet.</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Post Tags -->
                <div class="card mt-3 tags">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Popular Post</th>
                                </tr>
                            </thead>
                            {% common_hashtags as hashtags %}
                            <tbody class="d-flex flex-wrap">
                                
                                {% for hashtag in hashtags %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'blog:hashtag_list_posts' hashtag.slug %}" class="tag-badge">{{ hashtag.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function formExit() {
        document.getElementById("newForm").remove();
    }

    function myFunction(id) {
        if (document.contains(document.getElementById("newForm"))) {
            document.getElementById("newForm").remove();
        }

        var d1 = document.getElementById(id);
        d1.insertAdjacentHTML('afterend',
            '<form id="newForm" action="{% url "comment:add_comment_view" object.slug %}" class="form-insert py-2" method="post"> \
                  <select name="parent" class="d-none" id="id_parentt"> \
                  <option value="' + id + '" selected="' + id + '"></option> \
                  </select> \
                  <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                  {% csrf_token %} \
                  <div class="d-flex justify-content-wrap"><button type="submit" class="btn mt-2 me-3 btn-primary btn-lg btn-block">comment</button> \
                    <button type="button" class="btn btn-outline-danger mt-2" onclick="formExit()""><i class="far fa-window-close"></i></button>\
                </div>\
                </form>');

        //   document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
    }
    $('#myForm').trigger("reset");
</script>

{% endblock content %}